.App {
   text-align: center;
}

/* Used by default with NavLink */
/* .active {
	color: lightyellow;
	text-decoration: none;
} */

.activeLink {
	color: lightcoral;
}

a {
   color: lightblue;
   font-size: 35px;
	text-decoration: none;
}

nav {
   background-color: darkslategray;
}

nav a {
   margin: 20px;
}

h1 {
   font-size: 90px;
   margin-top: 20px;
}

button {
   padding: 15px;
   font-size: 30px;
   border-radius: 5px;
   border: 0;
   margin: 20px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
}

button:hover {
   background-color: #d8d6a6;
}
